


<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- 1️⃣ Logo + Adresse -->
            <div class="col-md-3">
                <h3 class="brand">Artuim</h3>
                
            </div>

            <!-- 2️⃣ Liens -->
            <div class="col-md-3">
                <h5>ARTUIM</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <!-- 3️⃣ Services -->
            <div class="col-md-3">
                <h5>COURSES</h5>
                <ul>
                    <li><a href="#">painting</a></li>
                    <li><a href="#">music</a></li>
                </ul>
            </div>

            <!-- 4️⃣ Events -->
            <div class="col-md-3">
                <h5>EVENTS</h5>
                <ul>
                    <li><a href="#">CVR</a></li>
                </ul>
            </div>
        </div>

        <!-- Réseaux sociaux -->
        <div class="social-icons text-center">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>

        <!-- Liens bas de page -->
        <div class="footer-bottom text-center">
            <a href="#">TERMS & CONDITIONS</a>
            <a href="#">PRIVACY POLICY</a>
            <a href="#">SITEMAP</a>
        </div>
        
        <!-- Copyright -->
        <div class="text-center copyright">
            Copyright 2025 © Artuim Interactive | Website by Edge of the Web
        </div>
    </div>
</footer>
