{% extends 'back/base.html.twig' %}

{% block body %}
  <div class="content">
    <h1>Bienvenue sur la page de test</h1>
    <p>Ceci est une page d'exemple avec un contenu dynamique. Vous pouvez ajouter des informations supplémentaires ici.</p>
  </div>
{% endblock %}
